@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wraper {
  width: 600px;
  margin: 30px auto;
}
h2 {
  text-align: center;
}
form {
  background-color: #007acc;
  padding: 30px 40px;
  color: #fff;
  text-align: center;
}
input {
  border: none;
  width: 440px;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 50px;
  border: none;
  background-color: #fff;
  box-shadow: 1px 2px 4px #167dae;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3;
}
/* 빈공간에 막생성으로 작업할때 위로 옆으로 올라가는 일 없게 처리하는방법 */
form::after {
  content: "";
  display: table;
  clear: both;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd){
    background-color: #f9f9f9;
}
ul li:hover{
    background-color: #ddd;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
    border: none;
    background-color: #c7e4f7;
}
.close:hover{
    background-color: #aad9f8;
    color: #fff;
}